.TripPlannerPage {
  width: 100%;
  min-height: calc(100vh - var(--navbarHeight));
  padding-top: 5vh;
}

.Plan {
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); */
  /* padding: 20px; */
  width: 90%;
  margin: auto;
  padding-bottom: 5vh;
}

.Plan .bheader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 20px;
}

.Plan .bheader .bbuttons {
  display: flex;
  gap: 20px;
}

.Plan .bheader button {
  padding: 8px 16px;
  width: 150px;
  outline: none;
  border: none;
  background-color: white;
  color: var(--blue);
  font-size: 1rem;
  font-weight: 500;
  display: grid;
  grid-template-columns: 1fr 3fr;
  place-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 200ms ease-in-out;
}

.Plan .bheader button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.Plan .bheader label h3 {
  color: gray;
  font-size: 0.8rem;
  padding-bottom: 5px;
}

.Plan .bheader label p {
  font-weight: 500;
  color: black;
}

.Plan .dayRows {
  width: 100%;
  padding-top: 20px;
}

.Plan .dayRows .dayRow {
  width: 100%;
  display: flex;
  align-items: center;
}

.Plan .dayRows .dayRow > p {
  place-self: start;
  padding: 20px;
  width: max-content;
  display: flex;
  gap: 5px;
  font-weight: 500;
  font-size: 0.8rem;
}

.Plan .dayRows .dayRow:nth-child(odd) {
  background-color: aliceblue;
}

.Plan .dayRows .dayRow .activities {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.Plan .dayRows .dayRow .activities .activity {
  padding: 20px;
}

.Plan .dayRows .dayRow .activities .activity p {
  color: gray;
  font-size: 0.8rem;
  padding-bottom: 5px;
}

.Plan .dayRows .dayRow .activities .activity h3 {
  font-weight: 500;
  color: black;
  font-size: 1rem;
}

.searchTab {
  display: flex;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr 3fr 3fr;
  gap: 10px;
  padding-bottom: 3vh;
}

.searchTab input {
  width: 100%;
  padding: 0 10px;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  transition: all 200ms ease-in-out;
}

.searchTab input:focus {
  border: 2px solid var(--blue);
}

.searchTab .tab {
  width: 100%;
}

.searchTab .tab button {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  background-color: var(--blue);
  color: aliceblue;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 200ms ease-in-out;
}

.searchTab .tab button:hover {
  cursor: pointer;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.searchDisplay {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding-bottom: 20px;
}

.searchDisplay .sdTabF {
  padding: 20px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;

  width: 100%;
  height: 50vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.searchDisplay .sdTabF .flight {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(221, 237, 252);
  padding: 20px;
  border: 16px solid white;
}

.searchDisplay .sdTabF .flight .Fheader,
.searchDisplay .sdTabF .flight .FdetailRow {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.fb,
.fbSelected {
  width: max-content;
  padding: 10px;
  outline: none;
  border: none;
  background-color: white;
  color: var(--blue);
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
}

.fbSelected {
  background-color: var(--blue);
  color: aliceblue;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.searchDisplay .sdTabF .flight .Fheader label,
.searchDisplay .sdTabF .flight .FdetailRow label {
  padding: 10px 0;
}

.searchDisplay .sdTabF .flight .Fheader label h3,
.searchDisplay .sdTabF .flight .FdetailRow label h3 {
  color: rgb(173, 173, 173);
  font-size: 0.8rem;
  padding-bottom: 3px;
}

.searchDisplay .sdTabF .flight .Fheader label p {
  color: black;
  font-size: 1.4rem;
  font-weight: 600;
}

.searchDisplay .sdTabF .flight .FdetailRow label p {
  color: black;
  font-size: 1rem;
  font-weight: 500;
}

.sdTabH {
  padding: 20px;
  width: 100%;
  height: 50vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sdTabH label h3 {
  color: rgb(173, 173, 173);
  font-size: 0.8rem;
  padding-bottom: 3px;
}

.sdTabH label p {
  color: black;
  font-size: 1.4rem;
  font-weight: 600;
}

.sdTabH label p a {
  color: var(--blue);
  text-decoration: none;
}

.FixButton {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: right;

  padding-bottom: 5vh;
}

.FixButton button {
  padding: 10px 30px;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 200ms ease-in-out;

  background-color: var(--blue);
  color: aliceblue;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 600px) {
  .Plan .dayRows .dayRow {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .Plan .dayRows .dayRow .activities {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .searchTab {
    display: flex;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 3vh;
  }

  .searchTab input {
    padding: 10px;
  }

  .searchDisplay {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
  }

  .FixButton button {
    padding: 10px 30px;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 200ms ease-in-out;
    width: 100%;
    background-color: var(--blue);
    color: aliceblue;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
}
