.Navbar {
  width: 100%;
  height: var(--navbarHeight);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  /* background-color: antiquewhite; */
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 999;
}

.Navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

.Navbar ul a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}
